@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root, :root[data-theme='dark'] {

    --primary-color: #F0F0F0;

    --primary-bg-color: #111217;
    --secondary-bg-color: #44444a;
    --border-color: #28292E;
    
    --title-color: #9A9A9C;
    --text-color: #9A9A9C;
    --link-color: #9A9A9C;
    --icon-color: #C7C8C9;
}

:root [data-theme='light'] {

    --primary-color: #00000F;

    --primary-bg-color: #E9E9E9;
    --secondary-bg-color: #C7C8C9;
    --border-color: #C7C8C9;
    
    --title-color: #0B0B0F;
    --text-color: #28292E;
    --link-color: #28292E;
    --icon-color: #565754;
}

html[data-theme='light'] .brand__logo {
    filter: invert(1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: baseline;
    list-style: none;
}

body {
    background: var(--primary-bg-color);
    font-family: 'inter', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
}

footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-bg-color);
    color: var(--text-color);
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--primary-color);
    font-weight: 600;
}

i {
    color: var(--icon-color);
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
}

.header__toggle {
    display: flex;
    justify-content: flex-end;
}

.header__brand .brand__Logo {
    width: 3.25rem;
    height: 3.25rem;
}

#toggleTheme {
    font-size: 1.5rem;
    color: var(--primary-color);
    cursor: pointer;
    transition: ease-in-out .4s;
}

.menu {
    display: flex;
    align-items: center;
    background: var(--primary-bg-color);
}

.menu__item {
    width: 100%;
}

.menu--mobile {
    width: 100vw;
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
}

.menu--mobile .menu__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: .5rem;
}

.menu__link.active .menu__icon,
.menu__link.active .menu__text,
.menu__link:hover .menu__icon,
.menu__link:hover .menu__text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu__icon, .menu__text {
    color: var(--text-color);
}

.menu__icon {
    font-size: 1.5rem;
}

.menu__text {
    font-size: 1.75rem;
    text-transform: uppercase;
}

.header__nav {
    display: none;
}

.menu--principal {
    gap: 1rem;
}

@media(min-width: 768px) {
    .header {
        position: fixed;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 15rem;
        background: var(--primary-bg-color);
    }
    .nav--mobile{
        display: none;
    }
    .header__nav {
        display: flex;
    }
    .header__nav,
    .header__toggle {
        min-width: 30%;
    }
}

@media (min-width: 1400px) {
    .header {
        padding: 1rem 15rem;
    }
}